.container {
    padding: 0 2rem;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    z-index: 999;
}

.main {
    min-height: calc(100vh - 83px);
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.title,
.subtitle {
    text-align: center;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: #0070f3;
    font-weight: 400;
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

.subtitle {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.25rem;
}

.types {
    margin-bottom: 25px !important;
}

.count {
    width: 100px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 10px 0;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.colorPicker {
    display: flex;
    padding: 5px;
    align-items: center;
}

.colorPicker span {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}